<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yj.audio"
    android:versionCode="1"
    android:versionName="1.0">

    <!--Storage permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--Bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <!-- Settings Provider -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />

    <!-- Screen ON/OFF -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- ??? -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--GPS-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:persistent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:icon="@drawable/ic_launcher_music"
            android:label="@string/app_name_music"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SLC_LC2010_VDC -->
        <activity
            android:name=".version.cj.slc_lc2010_vdc.activity.SclLc2010VdcAudioListActivity"
            android:icon="@drawable/ic_launcher_music"
            android:label="@string/app_name_music"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".version.cj.slc_lc2010_vdc.activity.SclLc2010VdcAudioPlayerActivity"
            android:icon="@drawable/ic_launcher_music"
            android:label="@string/app_name_music"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- Music Play Service -->
        <service android:name=".service.TrPlayService" />

        <!--Media scan service-->
        <service android:name="js.lib.android_media.scan.audio.AudioScanService" />

        <!-- Media Scanner Receiver -->
        <receiver
            android:name=".receiver.MediaScanReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <!--<action android:name="android.intent.action.MEDIA_CHECKING" />-->
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <!--<action android:name="android.intent.action.MEDIA_REMOVED" />-->

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yj.test.scan_audios" />
            </intent-filter>
        </receiver>
        <!-- Player Receiver -->
        <receiver
            android:name=".receiver.PlayerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <!-- System Boot -->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <!-- Music -->
            <intent-filter>
                <action android:name="com.tricheer.audio.EXIT" />
                <action android:name="com.tricheer.music.PLAY_FROM_FILEMANAGER" />
            </intent-filter>

            <!-- Open Player Logs -->
            <intent-filter>
                <action android:name="com.yj.app.OPEN_LOGS" />
            </intent-filter>

            <!--Test Broadcast-->
            <intent-filter>
                <action android:name="com.tri.test.OPEN_AUDIO" />
                <action android:name="com.tri.test.OPEN_AUDIO_FROM_VOICE" />
                <action android:name="com.tri.test.EXIT_PLAYER" />
            </intent-filter>
        </receiver>

        <!-- Media Button -->
        <receiver android:name="js.lib.android.media.engine.mediabtn.MediaBtnReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!-- ACC -->
        <receiver
            android:name="com.tri.lib.receiver.AccReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="tricheer.intent.action.SLEEP" />
            </intent-filter>
        </receiver>
        <!-- Voice assistant -->
        <receiver
            android:name="com.tri.lib.receiver.VoiceAssistantReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.tricheer.audio.OPEN_PLAY" />
                <action android:name="com.tricheer.MEDIA_PREV" />
                <action android:name="com.tricheer.MEDIA_NEXT" />
                <action android:name="com.tricheer.MEDIA_PLAY" />
                <action android:name="com.tricheer.MEDIA_STOP" />
            </intent-filter>
        </receiver>

        <!--Test receiver - used to test case.-->
        <receiver
            android:name=".receiver.TestReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.tri.test.EXIT_PLAYER" />
                <action android:name="com.tri.test.OPEN_AUDIO" />
                <action android:name="com.tri.test.OPEN_AUDIO_FROM_VOICE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>