<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tricheer.radio"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Settings Provider -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.tricheer.radio.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher_radio"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.tricheer.radio.service.RadioPlayerService" />

        <!-- ACC -->
        <receiver
            android:name="com.tri.lib.receiver.AccReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="tricheer.intent.action.ACC_OFF" />
                <action android:name="tricheer.intent.action.SLEEP" />
                <action android:name="tricheer.intent.action.ACC_ON" />
            </intent-filter>
        </receiver>
        <!-- Reverse -->
        <receiver
            android:name="com.tri.lib.receiver.ReverseReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.tricheer.carback.on" />
                <action android:name="com.tricheer.carback.off" />
            </intent-filter>
        </receiver>
        <!--Screen State-->
        <receiver android:name="com.tri.lib.receiver.ScreenStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <!--MediaButton Receiver-->
        <receiver android:name="js.lib.android.media.engine.mediabtn.MediaBtnReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>